@media screen and (max-width: 1800px) {
	.kdot {	
		width: 720px;
	}

	.soundboard-container {
		width: calc(100vw - 720px);
		height: calc(100vh - 55px);
	}
}

@media screen and (max-width: 1440px) {
	.kdot {
		width: calc(50vw);
	}

	.max-size {
		max-width: calc(100% - 20px);
	}

	.soundboard-container {
		width: 50vw;
		height: calc(100vh - 55px);
	}

	.soundboard-item {
		width: 50%;
		height: calc((100vh - 55px)/3);
	}
}

@media screen and (max-width: 1000px) {
	main {
		height: calc(200vh);
	}
	
	.kdot {
		width: 100vw;
		height: calc((100vh - 55px)*2/3);
	}
	
	.max-size {
		width: calc(90vh*2/3);
	}
	
	.soundboard-container {
		width: 100vw;
		height: calc((100vh - 55px)*1/3);
	}

	.soundboard-item {
		width: 50%;
		height: inherit;
	}
	
	#kdot0, #kdot1, #kdot2, #kdot3, #kdot4, #kdot5 {
		max-height: calc((100vh - 55px)*1/3);
	}
}
